* {
    padding: 0;
    box-sizing: border-box;
}

.index h1,h2{
    font-family: 'Funkhouse', cursive;
    display: block;
}

body {
    background-color: #010A64;
    margin: 0;
    font-family: Consolas, Hack, "Liberation Mono", monospace;
    color: #ECFA86;
    border-radius: 50%;
}


/*dit gaat over de nav */
nav {
    background-color: #A40E87;
    display: flex;
    border: solid #CF85CA 3px;
}

nav img {
    width: 50%;
}


/*  dit is de layout van de nav-bar zelf */
nav li {
    list-style-type: none;
}

/* Dit is de layout van de list */
nav ul {
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: #010A64;
    background-color: #ECFA86;
    font-size: 17px;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 2em;
    border: #CF85CA 4px;
}

nav ul li a {
    color: rgb(130, 104, 140);
}

nav ul li a:hover {
    color: #ECFA86;
    transition: 0.5s;
    background-color: #010A64;
}

/*  dit is de index styling*/

.index {
    display: flex;
    margin: 0 4.5em 4.5em 4.5em;
}

/* de linker column */
.index section {
    width: 80%;
    background-color: #A40E87;
    border-left: solid #CF85CA 4px;
    border-right: solid #CF85CA 4px;
    border-bottom: solid #CF85CA 4px;
    padding: 1em;
}

.index h1{
    font-size: 50px;
    margin: 0;
}
.index h2 {
    margin-top: 0.5em;
    display: block;
}

.fotoauto{
    display: flex;
}
.fotoauto p{
    padding: 1.5em;
    text-align: center;
}
.index ul li a{
    text-decoration: none;
    color: #8695fa;
}

.index ul li a:hover {
    color: #ECFA86;
}
.index li {
    list-style-type: none;
}

.index main p {
    margin-right: 5em;
    margin-left: 5em;
    font-weight: 700;
    display: flex;
}

.index img {
    width: 40%;
}

.index .gifanouk {
    width: 40%;
}
.index h2{
    text-align: left;
}

.index .button {
    font-size: 1em;
    font-family: Consolas, Hack, "Liberation Mono", monospace;
    color: white;
    background-color: #CF85CA;
    padding: 0.5em;
    border: 4px solid #CF85CA;
    border-radius: 0.3em;
    text-decoration: none;
}

.index .button:hover {
    background-color: #d106c3;
}

.hartjes img:first-of-type{
    width: 8%;
    animation-name: bonk;
    animation-duration: 1s;
    animation-delay: 1s;
}

.hartjes img:nth-of-type(2){
    width: 8%;
    animation-name: bonk;
    animation-duration: 1s;
    animation-delay: 2s;
}

.hartjes img:nth-of-type(3){
    width: 8%;
    animation-name: bonk;
    animation-duration: 1s;
    animation-delay: 3s;
}

.hartjes img:nth-of-type(4){
    width: 8%;
    animation-name: bonk;
    animation-duration: 1s;
    animation-delay: 4s;
}
.hartjes img:nth-of-type(5){
    width: 8%;
    animation-name: bonk;
    animation-duration: 1s;
    animation-delay: 5s;
}
.hartjes img:last-of-type{
    width: 8%;
    animation-name: bonk;
    animation-duration: 1s;
    animation-delay: 6s;
}

.index aside {
    background-color: #d106c3;
    display: block;
    width: 25%;
    height: 100%;
    padding: 1.5em;
    border-bottom: solid #CF85CA 4px;
    border-right: solid #CF85CA 4px;
}

.index aside p {
    text-align: center;
    font-size: 12px;
}

.index aside h2 {
    text-align: center;
    font-size: 20px;
}

.index aside img {
    width: 100%;
    border-radius: 100%;
    border: solid #CF85CA 5px;
    transition: 0.5s;
}

.index aside img:hover {
    width: 100%;
    border-radius: 100%;
    border: solid #ffffff 5px;
    transition: 0.5s;
}

/* footer informatie index */
footer {
    background-color: #010A64;
    border: solid #CF85CA 4px;
}

footer p {
    text-align: center;
}

footer img {
    width: 20px;
}

.back {
    font-size: 1em;
    font-family: Consolas, Hack, "Liberation Mono", monospace;
    color: white;
    background-color: #CF85CA;
    padding: 0.5em;
    border: solid #CF85CA 4px;
    border-radius: 0.3em;
    text-decoration: none;
}

@keyframes bonk {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(.7);
    }

    10% {
        transform: scale(1);
    }

    20% {
        transform: scale(2);
    }

    30% {
        transform: scale(2);
    }

    40% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

/* de vormgeving van favorieten.html */
.favorieten {
    display: block;
    margin: 0 4.5em 4.5em 4.5em;
    width: 90%;
    background-color: #d106c3;
    border-right: solid #CF85CA 3px;
    border-left: solid #CF85CA 3px;
    border-bottom: solid #CF85CA 3px;
    padding: 0.5em;
}

.favorieten article {
    display: flex;
    background-color: #A40E87;
    padding: 2em;
}
.favorieten h1, h2,h3{
    font-family: 'Funkhouse', cursive;
}

.favorieten h1 {
    text-align: center;
    font-size: 50px;
}

.favorieten h2 {
    font-size: 40px;
    color: #ECFA86;
}

.favorieten h3 {
    color: #ECFA86;
}

.jurken img {
    width: 50%;
}

.jurken p {
    padding-right: 6em;
}

.jurken ul li {
    list-style-type: none;
}

.jurken2{
    background-color: #CF85CA;
    border: solid #CF85CA 2px;
    padding-left: 2em;
}
.jurken2 img {
    width: 50%;
}

/* must haves vormgeving */

.musthaves {
    display: block;
    margin: 0 4.5em 4.5em 4.5em;
    width: 90%;
    background-color: #CF85CA;
    border-right: solid #A40E87 3px;
    border-left: solid #A40E87 3px;
    border-bottom: solid #A40E87 3px;
    padding: 0.5em;
}

.musthaves h1, h2,h3{
    font-family: 'Funkhouse', cursive;
    display: block;
    text-align: center;
}

.musthaves h1 {
    font-size: 50px;
}

.musthaves h2 {
    font-size: 40px;
    color: #A40E87;
}

.musthaves1{
    display: flex;
    justify-content: center;
}

.midrise{
    display: block;
    width: 22.5%;
}
.midrise img{
    display: block;
    width: 90%;
}
.midrise p{
    width: 90%;
    color: #010A64;
}

.midrise li{
    list-style-type: none;
    text-align: center;
}

.boyfriend{
    width: 22.5%;
    align-items: center;
}
.boyfriend img{
    display: block;
    width: 90%;
}

.boyfriend p{
    width: 90%;
    color: #010A64;
}

.boyfriend li{
    list-style-type: none;
    text-align: left;
}

.bootcut{
    width: 22.5%;
}
.bootcut img{
    display: block;
    width: 90%;
}

.bootcut p{
    width: 90%;
    color: #010A64;
}

.bootcut li {
    list-style-type: none;
    text-align: left;
}

.highwaist{
    width: 22.5%;
}
.highwaist img {
    display: block;
    width: 90%;
}
.highwaist p{
    width: 90%;
    color: #010A64;
}
.highwaist li{
    list-style-type: none;
    text-align: left;
}

.musthaves2{
    display: flex;
    justify-content: center;
    background-color: #A40E87;
}
.jas1{
    display: block;
    width: 22.5%;
}
.jas1 img{
    display: block;
    width: 90%;
}
.jas1 li{
    list-style-type: none;
}
.jas2{
    display: block;
    width: 22.5%;
}
.jas2 img{
    display: block;
    width: 90%;
}
.jas2 li{
    list-style-type: none;
}
.jas3{
    display: block;
    width: 22.5%;
}
.jas3 img{
    display: block;
    width: 90%;
}
.jas3 li{
    list-style-type: none;
}
.jas4{
    display: block;
    width: 22.5%;
}
.jas4 img{
    display: block;
    width: 90%;
}
.jas4 li{
    list-style-type: none;
}